<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    <h1>Welcome to main page</h1>
    <% if (!locals.authenticated) {%>
        <form action="/auth/vkontakte">
            <button type="submit">Log in</button>
        </form>
    <%} else {%>
        <ul>
            <% for (let i = 0; i < locals.users.length; i++) {%>
                <li>
                    Name: <%= locals.users[i].first_name %>
                    <img src="<%= locals.users[i].photo_200_orig %>">
                </li>
            <%}%>
        </ul>
    <%}%>
</body>
</html>